.course-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 15px;
}

.course-table th,
.course-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.course-table th {
  background-color: #f2f2f2;
  font-weight: normal;
}

.course-table input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}
