.container {
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    max-width: 1200px;
    margin: 30px auto;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}

form {
    font-size: 15px;
    
    select {
      border-radius: 8px;
      padding: 5px;
      margin-right: 10px;
    }
}

.form-head {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    margin-bottom: 10px;

    label {
    margin-right: 10px;
    }
    
    input {
    font-size: 15px;
    width: 30%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    }
}

.grid-container {
    display: grid;
    grid: auto auto / auto auto auto;
    gap: 15px;
}

.form-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;

    p {
        text-indent: 80px;
        margin: 0;
    }

    select {
        margin-right: 10px;
    }

    label {
    margin-right: 10px;
    }

    input, textarea {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    }
}


.student-signature p{
    display: grid;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 80px;

}

.submit-btn {
    text-align: end;
    margin-right: 20px;
    margin-bottom: 20px;

    button {
        background-color: #2196f3;
        color: #fff;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    button:hover{
        background-color: #1976d2;
        transform: translateY(-3px);
    }
}